<div style="padding: 3em;">
    <input type="text" id="urlInput"> 
    <button type="button" id="shortenClick">Shorten Url</button> 
    <button type="button" id="analyzeClick">Analyze Metadata</button>
</div> 

<script> 
    $('#shortenClick').click(async ()=> {
        let url = $('#urlInput').val();
        try{
          let data = await $.post('/url/create', {url}).then(data => console.log('data', data))
        } 
        catch(err){
            console.log('Shorten unsuccessful.');
        }
    }) 

    $('#analyzeClick').click(async ()=> {
        let url = $('#urlInput').val();
        try{
            let data = await $.post('/metadata', {url}).then(data => console.log('data', data))
        } 
        catch(err){
            console.log('Analyze unsucessful.');
        }
    })
</script>